body{
    display: flex;
    padding: 0%;
    margin: 0%;
    background-image: url(./sistema-codigo-binario.webp);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.foto{
display: flex;
justify-content: center;
width: 200px;
height: 200px;
align-items: center;
background-image: url(./Personalized-Initial-Letter-E-Neon-Sign-WW_1920x.webp);
background-position: center;
background-size: cover;
border-radius: 100%;

}
    .card{
        display: flex;
        height: 0px;
        width: 60px;
        background-position: center;
        flex-direction: row;
        justify-content: space-between;
        justify-content: center;
        transform: scale(2.0);
        align-items: baseline;   

    }
    .a1{
        width: 300%;
        height: 300%; 
    }
    .a2{
        width: 300%;
        height: 300%;
    }
    .a3{
        width: 300%;
        height: 300%;
    }

    .container{
        height: 550px;
        width: 400px;
        background-image: url(./5709014-banner-de-venda-poster-flyer-design-com-padrao-na-tela-preta-escura-e-textura-fundo-moderno-design-pano-de-fundo-modelo-para-propaganda-social-e-moda-anuncios-gratis-vetor.jpg);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
    
    }

.a1:hover
{
   transition: 0.1s;
   opacity: 0.5;

}
.a2:hover
{
   transition: 0.1s;
   opacity: 0.5;

}
.a3:hover
{
   transition: 0.1s;
   opacity: 0.5;

}
.container:hover
{
    background-image: url(./sistema-codigo-binario.webp);
    transition: 2.5s;
    opacity: 1.0;
}
.foto:hover
{
    background-image: url(./Captura\ de\ tela\ 2024-02-06\ 133252.png);
    transition: 3.0s;
    opacity: 1.0;
}

h1{
    color: rgb(99, 99, 99);
    font-family: 'VT323', monospace;
}
h2{
    color: darkgreen;
    font-family: 'Orbitron', sans-serif;
}



